.editor-resize-container{
    display:flex;
    height:100%;
    overflow: hidden;
}

.editor-resize-container .editor-preview-pannel{
    padding:1rem;
}

.editor-resize-container .editor-pannel-grow{
    flex-grow: 1;
}

.editor-resize-container .editor-pannel-separator{
    cursor: ew-resize;
    display:flex;
    direction:column;
    width:12px;
    border-left: 1px solid #e9f0f0;
    border-right: 1px solid #e9f0f0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.editor-resize-container .editor-pannel-separator:active {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.editor-resize-container .editor-pannel-separator:active::after{
    content: " ";
    width:300px;
    height:100%;
    position:absolute;
    left:-145px;
}

.editor-resize-container .editor-pannel-handle{
    width:0.25rem;
    height:3rem;
    border-left:1px solid rgba(0, 0, 0, 0.2);
    border-right:1px solid rgba(0, 0, 0, 0.2);
}

.editor-resize-container .editor-pannel-resizable{
    overflow:auto;
    height:100%;
}

.editor-textarea{
    font-family: "Segoe UI";
    font-size:1.05rem;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding:1rem;
    border: 0.1rem solid transparent;
    resize:none;
}
.editor-textarea::-webkit-scrollbar,
.editor-pannel-resizable::-webkit-scrollbar {
    display: none;
}

.editor-textarea:focus{
    outline:none;
}