html,
body {
  min-height: 100vh;
  display: flex;
  flex: 1;
  color: #1E2D40;
}
#root {
  display: flex;
  flex: 1;
}
.h-100{
   height: 100%;
}
.noBorderInput input::before{
    border-bottom: 0 !important;
}
.noBorderInput > p {
    position: absolute;
    top:30px;
    z-index: 1000;
    font-size: 0.8rem;
}
.noBorderInput input {
    font-size: 1.2rem;
}