.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.1rem solid #e9F0F0;
    background-color: #F5F9F9;
}
.main-menu-bottom{
    padding-bottom: 10em;
    padding-left: 10em;
}
.main-menu-bottom-search {
    width:100%;
}
.main-menu-user{
    display:flex;
    justify-content: space-between !important;
}
.main-menu-user img{
    cursor: pointer;
}
.main-menu-user img:hover{
    filter: co;
  transition: filter 0.2s;
}

.editor-header{
    background-color: #F5F9F9;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
    padding: 0 1rem 0 1rem;
    border-bottom: 0.1rem solid #e9F0F0;
}
.editor-tag-footer{
    background-color: #F5F9F9;
    display:flex;
    align-items: center;
    min-height: 4rem;
    padding: 0 1rem 0 1rem;
    border-top: 0.1rem solid #e9F0F0;
}
.editor-header-menu{
    display:flex;
    justify-content: space-around;
    width:10%;
}
.menu-icon-item{
    cursor: pointer;
}
.menu-icon-item:hover{
    fill: #BF3F4A;
}
.main-menu-user .MuiAvatar-root{
    background-color: #BF3F4A;

}
.main-menu-user .MuiAvatar-root:hover{
    background-color: #D94862;
    
}
.editor-header-title{
    width:80%;
    display:flex;
    justify-content: center;
}
.editor-header-title-input::before{
    border-bottom: 0 !important;
}
.editor-header-title-input{
    width: 30rem;
    font-size: 1.2rem !important;
}